{
 "openapi": "3.0.1",
 "info": {
  "title": "HubSpot Commerce API",
  "version": "2026-09",
  "description": "HubSpot Commerce API — merged from the vendor's per-API OpenAPI documents."
 },
 "servers": [
  {
   "url": "https://api.hubapi.com"
  }
 ],
 "paths": {
  "/commerce/contracts/2027-03-beta/changes": {
   "post": {
    "tags": [
     "Advanced"
    ],
    "summary": "Create Change",
    "description": "Create a new change for a commerce contract in your HubSpot account. This endpoint allows you to submit a request to modify existing contracts by specifying the desired changes in the request body. Upon successful creation, the URL of the newly created resource is returned in the response.",
    "operationId": "post-/commerce/contracts/2027-03-beta/changes_/commerce/contracts/2026-09-beta/changes",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractChangeCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/changes/preview": {
   "post": {
    "tags": [
     "Advanced"
    ],
    "summary": "Preview Changes",
    "description": "Preview the changes to a commerce contract before they are applied. This endpoint allows you to simulate contract modifications, providing a preview of the resulting changes without committing them. It is useful for assessing the impact of proposed changes on a contract.",
    "operationId": "post-/commerce/contracts/2027-03-beta/changes/preview_/commerce/contracts/2026-09-beta/changes/preview",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractChangeCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangePreviewResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/changes/{changeId}": {
   "get": {
    "tags": [
     "Changes"
    ],
    "summary": "Retrieve change",
    "description": "Retrieve details of a specific contract change using its unique identifier. This endpoint allows you to access information about the change, including its status, type, and any associated line item changes. It is useful for tracking the progress and details of contract modifications.",
    "operationId": "get-/commerce/contracts/2027-03-beta/changes/{changeId}",
    "parameters": [
     {
      "name": "changeId",
      "in": "path",
      "description": "The unique identifier of the contract change to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   },
   "patch": {
    "tags": [
     "Changes"
    ],
    "summary": "Update change",
    "description": "Update an existing contract change in your HubSpot account. This endpoint allows you to modify details of a specific change identified by its changeId. Use this to adjust contract changes as needed before they are finalized.",
    "operationId": "patch-/commerce/contracts/2027-03-beta/changes/{changeId}",
    "parameters": [
     {
      "name": "changeId",
      "in": "path",
      "description": "The unique identifier of the contract change to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractChangeUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/changes/{changeId}/accept": {
   "post": {
    "tags": [
     "Changes"
    ],
    "summary": "Accept change",
    "description": "Accept a specific contract change in the HubSpot commerce system. This endpoint is used to finalize and apply changes to a contract that have been proposed. It requires the unique identifier of the change to be accepted.",
    "operationId": "post-/commerce/contracts/2027-03-beta/changes/{changeId}/accept",
    "parameters": [
     {
      "name": "changeId",
      "in": "path",
      "description": "The unique identifier of the contract change to accept.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/changes/{changeId}/cancel": {
   "post": {
    "tags": [
     "Changes"
    ],
    "summary": "Cancel Change",
    "description": "Cancel a specific contract change in your HubSpot account. This operation is useful when you need to revoke a proposed or pending change to a contract. Once canceled, the change will no longer be processed.",
    "operationId": "post-/commerce/contracts/2027-03-beta/changes/{changeId}/cancel",
    "parameters": [
     {
      "name": "changeId",
      "in": "path",
      "description": "The unique identifier of the contract change to cancel.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/contracts": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create contract",
    "description": "Create a new contract in your HubSpot account using the Commerce Contracts API. This endpoint allows you to specify various contract details, including billing information, line items, and payment methods. The contract's effective date and currency code are required, along with other essential details. This operation returns the URL of the newly created contract resource upon successful creation.",
    "operationId": "post-/commerce/contracts/2027-03-beta/contracts",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/contracts/{contractId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve contract",
    "description": "Retrieve the details of a specific contract using its unique identifier. This endpoint allows you to access comprehensive information about a contract, including its status, associated line items, and other relevant details. It is useful for reviewing contract specifics or integrating contract data into other systems.",
    "operationId": "get-/commerce/contracts/2027-03-beta/contracts/{contractId}",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update contract",
    "description": "Update an existing contract in your HubSpot account using the specified contract ID. This operation allows you to modify details of a contract, such as its properties and associated line items. Ensure that the contract ID is valid and corresponds to an existing contract.",
    "operationId": "patch-/commerce/contracts/2027-03-beta/contracts/{contractId}",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractEditRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/contracts/{contractId}/changes": {
   "get": {
    "tags": [
     "Changes"
    ],
    "summary": "Retrieve changes",
    "description": "Retrieve the changes associated with a specific contract in your HubSpot account. This endpoint allows you to view all modifications made to a contract, which can be useful for tracking contract history and understanding the evolution of contract terms.",
    "operationId": "get-/commerce/contracts/2027-03-beta/contracts/{contractId}/changes",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract for which changes are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangesResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   },
   "post": {
    "tags": [
     "Changes"
    ],
    "summary": "Create contract change",
    "description": "Create a change for a specific contract in your HubSpot account. This endpoint allows you to propose modifications to the contract, such as adding, updating, or removing line items. The request body must include the necessary details for the contract change, and upon successful creation, a URL to the newly created resource will be returned.",
    "operationId": "post-/commerce/contracts/2027-03-beta/contracts/{contractId}/changes",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract for which the change is being created.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractChangeCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractChangeResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "deprecated": true,
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/contracts/{contractId}/renewal-quotes": {
   "post": {
    "tags": [
     "Changes"
    ],
    "summary": "Create Renewal Quote",
    "description": "Create a new renewal quote for a specific contract in your HubSpot account. This endpoint allows you to generate a renewal quote by specifying the contract ID and necessary details within the request body. The operation is useful for managing contract renewals and ensuring continuity in service agreements.",
    "operationId": "post-/commerce/contracts/2027-03-beta/contracts/{contractId}/renewal-quotes",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract for which the renewal quote is being created.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsCreateRenewalQuoteRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsQuoteResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/contracts/2027-03-beta/contracts/{contractId}/terminate": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Terminate contract",
    "description": "Terminate a specific contract in your HubSpot account. This operation requires specifying the contract ID and can be used to end a contract as of a specified termination date. Ensure that the contract ID is valid and that you have the necessary permissions to perform this action.",
    "operationId": "post-/commerce/contracts/2027-03-beta/contracts/{contractId}/terminate",
    "parameters": [
     {
      "name": "contractId",
      "in": "path",
      "description": "The unique identifier of the contract to terminate.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractsContractTerminateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ContractsContractResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ContractsError"
     }
    },
    "security": []
   }
  },
  "/commerce/payment-links/2026-09/payment-links": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve all payment links",
    "description": "Retrieve a list of payment links from your HubSpot account. This endpoint allows you to filter and sort payment links based on various criteria such as creation and update timestamps. It supports pagination and can include archived payment links if specified.",
    "operationId": "get-/commerce/payment-links/2026-09/payment-links",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     },
     {
      "name": "createdAfter",
      "in": "query",
      "description": "Filter results to include only those created after the specified timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "createdAt",
      "in": "query",
      "description": "Filter results by the exact creation timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "createdBefore",
      "in": "query",
      "description": "Filter results to include only those created before the specified timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null,
       "default": 20
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Specifies the order in which results are returned.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "updatedAfter",
      "in": "query",
      "description": "Filter results to include only those updated after the specified timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "updatedAt",
      "in": "query",
      "description": "Filter results by the exact update timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "updatedBefore",
      "in": "query",
      "description": "Filter results to include only those updated before the specified timestamp.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentLinksCollectionResponsePaymentLinkResponseForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentLinksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payment-links-read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create a payment link",
    "description": "Create a new payment link in your HubSpot account. This endpoint allows you to specify various attributes for the payment link, such as accepted payment methods, currency, and additional form fields. The payment link can be configured for one-time use and can also collect shipping and billing addresses. This operation requires a valid JSON request body. Some defaults will be applied if no value provided.",
    "operationId": "post-/commerce/payment-links/2026-09/payment-links",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentLinksPaymentLinkCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentLinksPaymentLinkResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentLinksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payment-links-write"
      ]
     }
    ]
   }
  },
  "/commerce/payment-links/2026-09/payment-links/{paymentLinkId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve payment link",
    "description": "Retrieve details of a specific payment link using its unique identifier. This endpoint allows you to access information about the payment link, including its status and configuration. It is useful for checking the current settings or status of a payment link in your HubSpot account.",
    "operationId": "get-/commerce/payment-links/2026-09/payment-links/{paymentLinkId}",
    "parameters": [
     {
      "name": "paymentLinkId",
      "in": "path",
      "description": "The unique identifier of the payment link to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentLinksPaymentLinkResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentLinksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payment-links-read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete a payment link",
    "description": "Delete a specific payment link in your HubSpot account. This operation is irreversible and will remove the payment link identified by the provided ID. Use this endpoint to manage and clean up payment links that are no longer needed.",
    "operationId": "delete-/commerce/payment-links/2026-09/payment-links/{paymentLinkId}",
    "parameters": [
     {
      "name": "paymentLinkId",
      "in": "path",
      "description": "The unique identifier of the payment link to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentLinksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payment-links-delete"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update a payment link",
    "description": "Update a payment link by ID.",
    "operationId": "patch-/commerce/payment-links/2026-09/payment-links/{paymentLinkId}_/commerce/payment-links/2026-09-beta/payment-links/{paymentLinkId}",
    "parameters": [
     {
      "name": "paymentLinkId",
      "in": "path",
      "description": "The unique identifier of the payment link to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentLinksPaymentLinkUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentLinksPaymentLinkResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentLinksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payment-links-write"
      ]
     }
    ]
   }
  },
  "/commerce/payment-methods/2027-03-beta/settings": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve payment method settings",
    "description": "Retrieve the settings for payment methods in your HubSpot account. This endpoint provides information about the current configuration of payment methods, including their capability status and supported currencies. It is useful for understanding which payment methods are active and their default status.",
    "operationId": "get-/commerce/payment-methods/2027-03-beta/settings",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentMethodsCommercePaymentMethodSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentMethodsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.invoices.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.invoices.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.quotes.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.subscriptions.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.subscriptions.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update payment method settings",
    "description": "Update the payment method settings for commerce transactions. This operation allows you to modify the configuration of payment methods, including setting defaults and managing supported currencies. Use this endpoint to ensure your payment methods align with your business requirements.",
    "operationId": "patch-/commerce/payment-methods/2027-03-beta/settings",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentMethodsUpdateCommercePaymentMethodSettingsPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentMethodsCommercePaymentMethodSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentMethodsError"
     }
    },
    "security": []
   }
  },
  "/commerce/payments-settings/2027-03-beta/payments-settings/billing": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve billing settings",
    "description": "Retrieve the current billing settings for your HubSpot account's payment settings. This endpoint allows you to access billing configurations, which can be useful for managing and reviewing your account's payment setup.",
    "operationId": "get-/commerce/payments-settings/2027-03-beta/payments-settings/billing",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetBillingSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "contracts-read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.invoices.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.invoices.read"
      ]
     },
     {
      "oauth2": [
       "payment-links-read"
      ]
     },
     {
      "oauth2": [
       "payments-checkout-settings-read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.quotes.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.subscriptions.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.subscriptions.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update billing settings",
    "description": "Update the billing settings for your HubSpot account's payment settings. This endpoint allows you to modify the billing configurations, which can be essential for managing how payments are processed and billed. Ensure you have the necessary permissions to write payment checkout settings before making changes.",
    "operationId": "patch-/commerce/payments-settings/2027-03-beta/payments-settings/billing",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentsSettingsUpdateBillingSettingsPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetBillingSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payments-checkout-settings-write"
      ]
     }
    ]
   }
  },
  "/commerce/payments-settings/2027-03-beta/payments-settings/checkout-fees": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve checkout fees",
    "description": "Retrieve the current checkout fee settings for your HubSpot account. This endpoint provides information about any fees applied during the checkout process, which can be useful for understanding transaction costs and configuring payment settings.",
    "operationId": "get-/commerce/payments-settings/2027-03-beta/payments-settings/checkout-fees",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetCheckoutFeesPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "contracts-read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.invoices.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.invoices.read"
      ]
     },
     {
      "oauth2": [
       "payment-links-read"
      ]
     },
     {
      "oauth2": [
       "payments-checkout-settings-read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.quotes.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.subscriptions.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.subscriptions.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update checkout fees",
    "description": "Update the checkout fees settings in your HubSpot account. This endpoint allows you to modify the configuration of checkout fees, which can be useful for adjusting fee structures or implementing new pricing strategies. Ensure that the request body contains the necessary details for the update.",
    "operationId": "patch-/commerce/payments-settings/2027-03-beta/payments-settings/checkout-fees",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentsSettingsUpdateCheckoutFeesPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetCheckoutFeesPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payments-checkout-settings-write"
      ]
     }
    ]
   }
  },
  "/commerce/payments-settings/2027-03-beta/payments-settings/checkout-fees/{checkoutFeeId}": {
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete checkout fee",
    "description": "Remove a specific checkout fee from the payments settings in your HubSpot account. This operation is useful for managing and updating the fees associated with checkout processes. Ensure you have the necessary permissions to perform this action.",
    "operationId": "delete-/commerce/payments-settings/2027-03-beta/payments-settings/checkout-fees/{checkoutFeeId}",
    "parameters": [
     {
      "name": "checkoutFeeId",
      "in": "path",
      "description": "The unique identifier of the checkout fee to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payments-checkout-settings-write"
      ]
     }
    ]
   }
  },
  "/commerce/payments-settings/2027-03-beta/payments-settings/policy": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve policy settings",
    "description": "Retrieve the current payment policy settings for your HubSpot account. This endpoint provides access to the policy configurations related to payment settings, allowing you to review the existing setup. It is useful for ensuring compliance with organizational or regulatory requirements by reviewing the policy settings in place.",
    "operationId": "get-/commerce/payments-settings/2027-03-beta/payments-settings/policy",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetPolicySettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "contracts-read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.invoices.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.invoices.read"
      ]
     },
     {
      "oauth2": [
       "payment-links-read"
      ]
     },
     {
      "oauth2": [
       "payments-checkout-settings-read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.quotes.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.subscriptions.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.subscriptions.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update policy settings",
    "description": "Update the payment policy settings for your HubSpot account. This endpoint allows you to modify existing policy configurations, which can include terms and conditions related to payments. Ensure that you have the necessary permissions to write payment checkout settings before making changes.",
    "operationId": "patch-/commerce/payments-settings/2027-03-beta/payments-settings/policy",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentsSettingsUpdatePolicySettingsPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetPolicySettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payments-checkout-settings-write"
      ]
     }
    ]
   }
  },
  "/commerce/payments-settings/2027-03-beta/payments-settings/shipping": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve shipping settings",
    "description": "Retrieve the current shipping settings for your HubSpot account. This endpoint provides information about the configured shipping options, which can be useful for managing and reviewing your shipping policies and configurations.",
    "operationId": "get-/commerce/payments-settings/2027-03-beta/payments-settings/shipping",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetShippingSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "contracts-read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.invoices.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.invoices.read"
      ]
     },
     {
      "oauth2": [
       "payment-links-read"
      ]
     },
     {
      "oauth2": [
       "payments-checkout-settings-read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.quotes.read"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.subscriptions.read"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.subscriptions.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update shipping settings",
    "description": "Update the shipping settings for your HubSpot account. This endpoint allows you to modify existing shipping configurations to better suit your business needs. Ensure that the request body contains the necessary fields as defined in the UpdateShippingSettingsPublicRequest schema.",
    "operationId": "patch-/commerce/payments-settings/2027-03-beta/payments-settings/shipping",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentsSettingsUpdateShippingSettingsPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsSettingsGetShippingSettingsPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsSettingsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "payments-checkout-settings-write"
      ]
     }
    ]
   }
  },
  "/commerce/payments/2027-03-beta/manual-payments": {
   "post": {
    "tags": [
     "Advanced"
    ],
    "summary": "Create Payment",
    "description": "Create a manual payment in the HubSpot system. This endpoint allows you to specify details such as the payment amount, currency, payment method, and date. It is useful for recording payments that occur outside of automated systems, ensuring all payment data is captured within HubSpot.",
    "operationId": "post-/commerce/payments/2027-03-beta/manual-payments_/commerce/payments/2027-03-beta/manual-payments",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PaymentsCreateManualPaymentPublicRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsCreateManualPaymentPublicResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.commercepayments.write"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.commercepayments.write"
      ]
     }
    ]
   }
  },
  "/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async": {
   "post": {
    "tags": [
     "Advanced"
    ],
    "summary": "Retry Payment",
    "description": "Initiate an asynchronous retry of a payment associated with the specified CRM object ID. This endpoint is useful for attempting to process payments that may have previously failed or require reprocessing. Upon successful initiation, a task locator is returned to track the status of the retry operation.",
    "operationId": "post-/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async_/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async",
    "parameters": [
     {
      "name": "paymentCrmObjectId",
      "in": "path",
      "description": "The unique identifier of the payment CRM object to retry.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "202": {
      "description": "accepted",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsTaskLocator"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.commercepayments.write"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.commercepayments.write"
      ]
     }
    ]
   }
  },
  "/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async/tasks/{taskId}/status": {
   "get": {
    "tags": [
     "Advanced"
    ],
    "summary": "Retrieve status",
    "description": "Retrieve the status of a specific asynchronous retry task for a payment CRM object. This endpoint allows you to check the progress or completion status of a task that was initiated to retry a payment action.",
    "operationId": "get-/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async/tasks/{taskId}/status_/commerce/payments/2027-03-beta/{paymentCrmObjectId}/actions/retry/async/tasks/{taskId}/status",
    "parameters": [
     {
      "name": "paymentCrmObjectId",
      "in": "path",
      "description": "The unique identifier of the payment CRM object associated with the task.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "taskId",
      "in": "path",
      "description": "The unique identifier of the task whose status is being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsActionResponseWithSingleResultSimplePublicObject"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.commercepayments.write"
      ]
     },
     {
      "oauth2": [
       "crm.schemas.commercepayments.write"
      ]
     }
    ]
   }
  },
  "/commerce/payment-accounts/2026-09/status": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve status and general information about a portal's payments account.",
    "description": "Retrieve the status of payment accounts in your HubSpot account. This endpoint provides information about the account's ability to transact and payout, its enrollment state, when or if it has transacted last, and the types of payment processors it is eligible for. Use this to monitor and manage your payment account's operational status.",
    "operationId": "get-/commerce/payment-accounts/2026-09/status",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PaymentsaccountsPaymentAccountView"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PaymentsaccountsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books": {
   "get": {
    "tags": [
     "Advanced"
    ],
    "summary": "Retrieve price books",
    "description": "Retrieve a list of price books available in your HubSpot account. This endpoint supports pagination and can return archived price books if specified. It is useful for accessing and managing pricing information across different products and services.",
    "operationId": "get-/commerce/price-books/2026-09/price-books_/commerce/price-books/2026-09-beta/price-books",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksCollectionResponsePriceBookResponseForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create price book",
    "description": "Create a new price book in your HubSpot account. This endpoint allows you to define custom properties, a name, and supported currencies for the price book. A successful request will return the URL of the newly created resource.",
    "operationId": "post-/commerce/price-books/2026-09/price-books",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksPriceBookCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve price book",
    "description": "Retrieve a specific price book by its unique identifier in your HubSpot account. This endpoint allows you to access detailed information about a price book, including its status and supported currencies. It can be useful for managing and reviewing pricing strategies within your commerce system.",
    "operationId": "get-/commerce/price-books/2026-09/price-books/{priceBookId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete price book",
    "description": "Delete a specific price book from your HubSpot account using its unique identifier. This operation will permanently remove the price book and its associated data, making it unavailable for future use.",
    "operationId": "delete-/commerce/price-books/2026-09/price-books/{priceBookId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update price book",
    "description": "Update an existing price book in your HubSpot account. This operation allows you to modify details such as the name, description, supported currencies, and custom properties of a price book. It is useful for keeping your price book information up to date with the latest changes.",
    "operationId": "patch-/commerce/price-books/2026-09/price-books/{priceBookId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksPriceBookUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/activate": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Activate price book",
    "description": "Activate a specific price book in your HubSpot account. This operation changes the status of the price book to active, allowing it to be used in transactions and other operations. Ensure that the price book ID is correct before activation.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/activate",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to activate.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/deactivate": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Deactivate price book",
    "description": "Deactivate a specific price book in your HubSpot account. This action changes the status of the price book to inactive, making it unavailable for use in transactions. Use this endpoint when you need to temporarily or permanently disable a price book without deleting it.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/deactivate",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to deactivate.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/items": {
   "get": {
    "tags": [
     "Items"
    ],
    "summary": "List price book items",
    "description": "Retrieve a list of items associated with a specific price book in your HubSpot account. This endpoint allows you to paginate through the items and specify which properties to include in the response. It is useful for managing and viewing the details of products linked to a particular price book.",
    "operationId": "get-/commerce/price-books/2026-09/price-books/{priceBookId}/items_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to retrieve items for.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "properties",
      "in": "query",
      "description": "A list of property names to include in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksCollectionResponsePriceBookItemResponseForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Items"
    ],
    "summary": "Add price book items",
    "description": "Add new items to a specified price book in your HubSpot account. This endpoint allows you to associate products with a price book by providing the necessary product details. It is useful for managing and updating the contents of your price books efficiently.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/items_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to which items will be added.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksPriceBookAddProductRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookItemResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "inbounddb-product-library-read",
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/archive": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Batch archive price book items",
    "description": "Archive multiple items within a specified price book in a single batch operation. This endpoint is useful for managing large sets of price book items that need to be archived simultaneously, streamlining the process and reducing the number of individual requests.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/archive_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/archive",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book containing the items to be archived.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksBatchInputSimplePublicObjectId"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/create": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Batch create price book items",
    "description": "Create multiple items in a specified price book in a single batch operation. This endpoint is useful for efficiently adding a large number of items to a price book, reducing the need for multiple individual requests. The operation returns a batch response indicating the success or failure of each item creation.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/create_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/create",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to which the items will be added.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksBatchInputPriceBookAddProductRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksBatchResponsePriceBookItemResponse"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksBatchResponsePriceBookItemResponseWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "inbounddb-product-library-read",
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/update": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Batch update price book items",
    "description": "Update multiple items in a specified price book in a single batch operation. This endpoint allows for efficient updates of price book items, making it useful for managing large sets of data within a price book. The operation returns a batch response indicating the success or failure of each item update.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/items/batch/update_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/batch/update",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book containing the items to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksBatchInputPriceBookItemBatchUpdateInput"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksBatchResponsePriceBookItemResponse"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksBatchResponsePriceBookItemResponseWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/items/{priceBookItemId}": {
   "get": {
    "tags": [
     "Items"
    ],
    "summary": "Retrieve price book item",
    "description": "Retrieve a specific item from a price book using its unique identifiers. This endpoint allows you to access detailed information about a particular item within a specified price book, including its properties and archived status if applicable.",
    "operationId": "get-/commerce/price-books/2026-09/price-books/{priceBookId}/items/{priceBookItemId}_/commerce/price-books/2026-09-beta/price-books/{priceBookId}/items/{priceBookItemId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book containing the item.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "priceBookItemId",
      "in": "path",
      "description": "The unique identifier of the item within the price book.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "properties",
      "in": "query",
      "description": "A list of property names to include in the response.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookItemResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Items"
    ],
    "summary": "Delete price book item",
    "description": "Remove a specific item from a price book in your HubSpot account. This operation is irreversible and will permanently delete the item identified by the given priceBookItemId from the price book specified by priceBookId.",
    "operationId": "delete-/commerce/price-books/2026-09/price-books/{priceBookId}/items/{priceBookItemId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book from which the item will be deleted.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "priceBookItemId",
      "in": "path",
      "description": "The unique identifier of the item to be deleted from the price book.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Items"
    ],
    "summary": "Update price book item",
    "description": "Update a specific item within a price book in your HubSpot account. This operation allows you to modify details such as pricing, billing frequency, and custom properties for the specified item. Ensure that the item is identified correctly by its unique priceBookId and priceBookItemId.",
    "operationId": "patch-/commerce/price-books/2026-09/price-books/{priceBookId}/items/{priceBookItemId}",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book containing the item to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "priceBookItemId",
      "in": "path",
      "description": "The unique identifier of the item within the price book to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PriceBooksPriceBookItemUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookItemResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "inbounddb-product-library-read",
       "price-book-write"
      ]
     }
    ]
   }
  },
  "/commerce/price-books/2026-09/price-books/{priceBookId}/validate": {
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Validate price book",
    "description": "Validate a specific price book in your HubSpot account. This endpoint checks the integrity and correctness of the price book identified by the given priceBookId. Use this to ensure that the price book meets all necessary criteria before proceeding with further operations.",
    "operationId": "post-/commerce/price-books/2026-09/price-books/{priceBookId}/validate",
    "parameters": [
     {
      "name": "priceBookId",
      "in": "path",
      "description": "The unique identifier of the price book to validate.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PriceBooksPriceBookValidateResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/PriceBooksError"
     }
    },
    "security": [
     {
      "oauth2": [
       "price-book-read"
      ]
     }
    ]
   }
  }
 },
 "components": {
  "securitySchemes": {
   "developer_hapikey": {
    "type": "apiKey",
    "name": "hapikey",
    "in": "query"
   },
   "oauth2": {
    "type": "oauth2",
    "flows": {
     "authorizationCode": {
      "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
      "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
      "scopes": {}
     }
    }
   },
   "private_apps": {
    "type": "apiKey",
    "name": "private-app",
    "in": "header"
   },
   "private_apps_legacy": {
    "type": "apiKey",
    "name": "private-app-legacy",
    "in": "header"
   }
  },
  "schemas": {
   "ContractsAddress": {
    "type": "object",
    "properties": {
     "address": {
      "type": "string",
      "description": "The primary street address. It is a string representing the main location detail.",
      "example": null
     },
     "address2": {
      "type": "string",
      "description": "An additional street address line. This is a string used for supplementary location details.",
      "example": null
     },
     "city": {
      "type": "string",
      "description": "The city where the address is located. It is represented as a string.",
      "example": null
     },
     "country": {
      "type": "string",
      "description": "The country of the address. This is a string indicating the nation associated with the address.",
      "example": null
     },
     "countryCode": {
      "type": "string",
      "description": "The code representing the country of the address. It is a string, typically following international country code standards.",
      "example": null
     },
     "state": {
      "type": "string",
      "description": "The state or region of the address. This is a string that specifies the subdivision within the country.",
      "example": null
     },
     "zip": {
      "type": "string",
      "description": "The postal code for the address. It is a string used for mail delivery purposes.",
      "example": null
     }
    },
    "example": null
   },
   "ContractsContractChangeCreateRequest": {
    "properties": {},
    "example": null,
    "oneOf": [
     {
      "$ref": "#/components/schemas/ContractsDirectContractChangeCreateRequest"
     },
     {
      "$ref": "#/components/schemas/ContractsQuoteContractChangeCreateRequest"
     }
    ]
   },
   "ContractsContractChangePreviewResponse": {
    "required": [
     "deltaLineItems",
     "proposedLineItems"
    ],
    "type": "object",
    "properties": {
     "deltaLineItems": {
      "type": "array",
      "description": "An array of LineItem objects representing the changes in line items compared to the current state of the contract.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItem"
      }
     },
     "proposedLineItems": {
      "type": "array",
      "description": "An array of LineItem objects representing the proposed state of line items after the changes are applied.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItem"
      }
     }
    },
    "example": null
   },
   "ContractsContractChangeResponse": {
    "required": [
     "contractId",
     "deltaLineItems",
     "id",
     "lineItemChanges",
     "proposedLineItems",
     "prorating",
     "status",
     "type"
    ],
    "type": "object",
    "properties": {
     "contractId": {
      "type": "string",
      "description": "The unique identifier of the contract associated with this change.",
      "example": null
     },
     "createdAt": {
      "type": "string",
      "description": "The date and time when the contract change was created, in ISO 8601 format.",
      "format": "date-time",
      "example": null
     },
     "deltaLineItems": {
      "type": "array",
      "description": "An array of line items that represent the difference resulting from the contract change.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItem"
      }
     },
     "effectiveDate": {
      "type": "string",
      "description": "The date when the contract change becomes effective, in YYYY-MM-DD format.",
      "format": "date",
      "example": null
     },
     "id": {
      "type": "string",
      "description": "The unique identifier for the contract change.",
      "example": null
     },
     "lineItemChanges": {
      "type": "array",
      "description": "An array of changes to line items associated with the contract change.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItemChangeResponse"
      }
     },
     "name": {
      "type": "string",
      "description": "The name of the contract change.",
      "example": null
     },
     "proposedLineItems": {
      "type": "array",
      "description": "An array of line items that are proposed as part of the contract change.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItem"
      }
     },
     "prorating": {
      "type": "boolean",
      "description": "A boolean indicating whether the contract change involves prorating.",
      "example": null
     },
     "quoteId": {
      "type": "string",
      "description": "The unique identifier of the quote associated with this contract change.",
      "example": null
     },
     "status": {
      "type": "string",
      "description": "The current status of the contract change. Valid values include 'DRAFT', 'PROPOSED', 'ACCEPTED', 'CANCELED', 'FAILED', and 'EXPIRED'.",
      "example": null,
      "enum": [
       "ACCEPTED",
       "CANCELED",
       "DRAFT",
       "EXPIRED",
       "FAILED",
       "PROPOSED"
      ]
     },
     "type": {
      "type": "string",
      "description": "The type of contract change. Valid values include 'DIRECT' and 'QUOTE'.",
      "example": null,
      "enum": [
       "DIRECT",
       "QUOTE"
      ]
     },
     "updatedAt": {
      "type": "string",
      "description": "The date and time when the contract change was last updated, in ISO 8601 format.",
      "format": "date-time",
      "example": null
     }
    },
    "example": null
   },
   "ContractsContractChangeSummaryResponse": {
    "required": [
     "contractId",
     "id",
     "lineItemChanges",
     "prorating",
     "status",
     "type"
    ],
    "type": "object",
    "properties": {
     "contractId": {
      "type": "string",
      "description": "The unique identifier of the contract associated with this change.",
      "example": null
     },
     "createdAt": {
      "type": "string",
      "description": "The date and time when this contract change was created, in ISO 8601 format.",
      "format": "date-time",
      "example": null
     },
     "effectiveDate": {
      "type": "string",
      "description": "The date on which this contract change becomes effective, in the format 'YYYY-MM-DD'.",
      "format": "date",
      "example": null
     },
     "id": {
      "type": "string",
      "description": "The unique identifier for this contract change.",
      "example": null
     },
     "lineItemChanges": {
      "type": "array",
      "description": "An array of changes made to line items as part of this contract change.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItemChangeResponse"
      }
     },
     "name": {
      "type": "string",
      "description": "The name assigned to this contract change.",
      "example": null
     },
     "prorating": {
      "type": "boolean",
      "description": "A boolean indicating whether the contract change involves prorating.",
      "example": null
     },
     "quoteId": {
      "type": "string",
      "description": "The unique identifier of the quote associated with this contract change, if applicable.",
      "example": null
     },
     "status": {
      "type": "string",
      "description": "The current status of the contract change. Valid values include 'DRAFT', 'PROPOSED', 'ACCEPTED', 'CANCELED', 'FAILED', and 'EXPIRED'.",
      "example": null,
      "enum": [
       "ACCEPTED",
       "CANCELED",
       "DRAFT",
       "EXPIRED",
       "FAILED",
       "PROPOSED"
      ]
     },
     "type": {
      "type": "string",
      "description": "The type of contract change, which can be either 'DIRECT' or 'QUOTE'.",
      "example": null,
      "enum": [
       "DIRECT",
       "QUOTE"
      ]
     },
     "updatedAt": {
      "type": "string",
      "description": "The date and time when this contract change was last updated, in ISO 8601 format.",
      "format": "date-time",
      "example": null
     }
    },
    "example": null
   },
   "ContractsContractChangeUpdateRequest": {
    "required": [
     "name"
    ],
    "type": "object",
    "properties": {
     "effectiveDate": {
      "type": "string",
      "description": "The date when the contract change becomes effective, formatted as a date string.",
      "format": "date",
      "example": null
     },
     "lineItemChanges": {
      "type": "array",
      "description": "An array of line item changes to be applied to the contract, each represented by a LineItemChangeRequest object.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsLineItemChangeRequest"
      }
     },
     "name": {
      "type": "object",
      "properties": {},
      "description": "An object representing the name of the contract change.",
      "example": null
     },
     "prorating": {
      "type": "boolean",
      "description": "A boolean indicating whether the contract change should be prorated.",
      "example": null
     }
    },
    "example": null
   },
   "ContractsContractChangesResponse": {
    "required": [
     "changes"
    ],
    "type": "object",
    "properties": {
     "changes": {
      "type": "array",
      "description": "An array of contract change summaries. Each item in the array provides details about a specific change made to the contract, represented by the ContractChangeSummaryResponse schema.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ContractsContractChangeSummaryResponse"
      }
     }
    },
    "example": null
   },
   "ContractsContractCreateRequest": {
    "required": [
     "automatedTaxesEnabled",
     "billingAddress",
     "billingCompanyId",
     "billingContactId",
     "billingStartDateOverride",
     "contractEffectiveDate",
     "currencyCode",
     "dealId",
     "externalPaymentMethodReferenceId",
     "hubspotBillingEnabled",
     "lineItems",
     "locale",
     "name",
     "netPaymentTerms",
     "ownerId",
     "paymentEnabled",
     "poNumber",
     "sellerCompanyAddress",
     "sellerCompanyDomain",
     "sellerCompanyName",
     "sellerEmail",
     "sellerFirstName",
     "sellerLastName",
     "sellerPhone"
    ],
    "type": "object",
    "properties": {
     "addressTypesToCollect": {
      "type": "array",
      "description": "An array of address types to collect, which can include 'BILLING_ADDRESS' and 'SHIPPING_ADDRESS'.",
      "example": null,
      "items": {
       "type": "string",
       "example": null,
       "enum": [
        "BILLING_ADDRESS",
        "SHIPPING_ADDRESS"
       ]
      }
     },
     "allowedPaymentMethods": {
      "type": "array",
      "description": "An array of allowed payment methods for the contract, such as 'CREDIT_OR_DEBIT_CARD', 'ACH', 'SEPA', 'BACS', 'PADS', 'AFFIRM', and 'KLARNA'.",
      "example": null,
      "items": {
       "type": "string",
       "example": null,
       "enum": [
        "CREDIT_OR_DEBIT_CARD",
        "ACH",
        "SEPA",
        "BACS",
        "PADS",
        "AFFIRM",
        "KLARNA"
       ]
      }
     },
     "automatedTaxesEnabled": {
      "type": "object",
      "properties": {},
      "description": "An object indicating whether automated taxes are enabled for the contract.",
      "example": null
     },
     "billingAddress": {
      "type": "object",
      "properties": {},
      "description": "An object representing the billing address for the contract.",
      "example": null
     },
     "billingCompanyId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the billing company.",
      "example": null
     },
     "billingContactId": {
      "type": "string",
      "description": "A string representing the ID of the billing contact.",
      "example": null
     },
     "billingStartDateOverride": {
      "type": "object",
      "properties": {},
      "description": "An object representing an override for the billing start date.",
      "example": null
     },
     "businessUnitId": {
      "type": "string",
      "description": "A string representing the ID of the business unit associated with the contract.",
      "example": null
     },
     "collectionProcess": {
      "type": "string",
      "description": "A string indicating the collection process for the contract, which can be 'MANUAL_PAYMENTS' or 'AUTOMATIC_PAYMENTS'.",
      "example": null,
      "enum": [
       "AUTOMATIC_PAYMENTS",
       "MANUAL_PAYMENTS"
      ]
     },
     "contractEffectiveDate": {
      "type": "string",
      "description": "A string representing the effective date of the contract, in date format.",
      "format": "date",
      "example": null
     },
     "currencyCode": {
      "type": "string",
      "description": "A string representing the currency code for the contract.",
      "example": null
     },
     "customProperties": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "An object containing custom properties for the contract, with string values.",
      "example": null
     },
     "dealId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the associated deal.",
      "example": null
     },
     "externalPaymentMethodReferenceId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the external payment method reference ID.",
      "example": null
     },
     "hubspotBillingEnabled": {
      "type": "boolean",
      "description": "A boolean indicating whether HubSpot billing is enabled for the contract.",
      "example": null
     },
     "lineItems": {
      "type": "array",
      "description": "An array of line items included in the contract, which can be custom, from a product, or cloned.",
      "example": null,
      "items": {
       "example": null,
       "oneOf": [
        {
         "$ref": "#/components/schemas/ContractsLineItemCustomCreateRequest"
        },
        {
         "$ref": "#/components/schemas/ContractsLineItemFromProductCreateRequest"
        },
        {
         "$ref": "#/components/schemas/ContractsLineItemCloneCreateRequest"
        }
       ]
      }
     },
     "locale": {
      "type": "object",
      "properties": {},
      "description": "An object representing the locale settings for the contract.",
      "example": null
     },
     "name": {
      "type": "string",
      "description": "A string representing the name of the contract.",
      "example": null
     },
     "netPaymentTerms": {
      "type": "object",
      "properties": {},
      "description": "An object representing the net payment terms for the contract.",
      "example": null
     },
     "ownerId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the contract owner.",
      "example": null
     },
     "paymentEnabled": {
      "type": "boolean",
      "description": "A boolean indicating whether payment is enabled for the contract.",
      "example": null
     },
     "poNumber": {
      "type": "object",
      "properties": {},
      "description": "An object representing the purchase order number for the contract.",
      "example": null
     },
     "sellerCompanyAddress": {
      "type": "object",
      "properties": {},
      "description": "An object representing the address of the seller's company.",
      "example": null
     },
     "sellerCompanyDomain": {
      "type": "object",
      "properties": {},
      "description": "An object representing the domain of the seller's company.",
      "example": null
     },
     "sellerCompanyName": {
      "type": "object",
      "properties": {},
      "description": "An object representing the name of the seller's company.",
      "example": null
     },
     "sellerEmail": {
      "type": "object",
      "properties": {},
      "description": "An object representing the email address of the seller.",
      "example": null
     },
     "sellerFirstName": {
      "type": "object",
      "properties": {},
      "description": "An object representing the first name of the seller.",
      "example": null
     },
     "sellerLastName": {
      "type": "object",
      "properties": {},
      "description": "An object representing the last name of the seller.",
      "example": null
     },
     "sellerPhone": {
      "type": "object",
      "properties": {},
      "description": "An object representing the phone number of the seller.",
      "example": null
     }
    },
    "example": null
   },
   "ContractsContractEditRequest": {
    "required": [
     "automatedTaxesEnabled",
     "billingAddress",
     "billingCompanyId",
     "billingContactId",
     "billingStartDateOverride",
     "dealId",
     "externalPaymentMethodReferenceId",
     "locale",
     "name",
     "netPaymentTerms",
     "ownerId",
     "poNumber",
     "sellerCompanyAddress",
     "sellerCompanyDomain",
     "sellerCompanyName",
     "sellerEmail",
     "sellerFirstName",
     "sellerLastName",
     "sellerPhone"
    ],
    "type": "object",
    "properties": {
     "addressTypesToCollect": {
      "type": "array",
      "description": "An array of strings indicating the types of addresses to collect, such as 'BILLING_ADDRESS' or 'SHIPPING_ADDRESS'.",
      "example": null,
      "items": {
       "type": "string",
       "example": null,
       "enum": [
        "BILLING_ADDRESS",
        "SHIPPING_ADDRESS"
       ]
      }
     },
     "allowedPaymentMethods": {
      "type": "array",
      "description": "An array of strings specifying the allowed payment methods, which can include 'CREDIT_OR_DEBIT_CARD', 'ACH', 'SEPA', 'BACS', 'PADS', 'AFFIRM', and 'KLARNA'.",
      "example": null,
      "items": {
       "type": "string",
       "example": null,
       "enum": [
        "CREDIT_OR_DEBIT_CARD",
        "ACH",
        "SEPA",
        "BACS",
        "PADS",
        "AFFIRM",
        "KLARNA"
       ]
      }
     },
     "automatedTaxesEnabled": {
      "type": "object",
      "properties": {},
      "description": "An object indicating whether automated taxes are enabled for the contract.",
      "example": null
     },
     "billingAddress": {
      "type": "object",
      "properties": {},
      "description": "An object representing the billing address for the contract.",
      "example": null
     },
     "billingCompanyId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the billing company associated with the contract.",
      "example": null
     },
     "billingContactId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the billing contact associated with the contract.",
      "example": null
     },
     "billingStartDateOverride": {
      "type": "object",
      "properties": {},
      "description": "An object representing the override for the billing start date.",
      "example": null
     },
     "customProperties": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "An object containing a map of custom property names to their values, represented as strings.",
      "example": null
     },
     "dealId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the ID of the deal associated with the contract.",
      "example": null
     },
     "externalPaymentMethodReferenceId": {
      "type": "object",
      "properties": {},
      "description": "An object representing the external reference ID for the payment method.",
      "example": null
     },
     "locale": {
      "type": "object",
      "properties": {},
[...]
